<div class="container-fluid todo-container">

  <h2>Todo List</h2>
  
  <form ngForm="todoForm">
    <div class="row">
      <div class="col-md-3">
        <input 
          [(ngModel)]="todoForm.name" 
          name="name"
          placeholder="type name"
          class="w-ful form-control">
      </div>
      <div class="col-md-3">
        <input 
          [(ngModel)]="todoForm.email" 
          name="email"
          placeholder="type email"
          class="w-ful form-control">
      </div>
      <div class="col-md-3">
        <input 
          [(ngModel)]="todoForm.message" 
          name="message"
          placeholder="type text"
          class="w-ful form-control">
      </div>
      <div class="col-md-1">
        <button (click)="addTodo()" class="add-btn">
          {{ isEdit ? 'Update' : 'Add' }} 
        </button>
      </div>
    </div>
  </form>

  <div class="row mt-2" *ngFor="let todo of todos; let i = index; " [class.completed]="todo.completed">
    <div class="col-md-3">
      {{ todo.id }}.  {{ todo.name }}
    </div>
    <div class="col-md-3">
      {{ todo.email }}
    </div>
    <div class="col-md-4">
      {{ todo.message }}
    </div>
    <div class="col-md-2">
      <button (click)="editTodo(i)" class="btn btn-warning btn-sm me-2">Edit</button>
      <button (click)="deleteTodo(i)" class="btn btn-danger btn-sm">Delete</button>
    </div>
  </div>

  <!-- <ul class="todo-list">
    <li *ngFor="let todo of todos" class="todo-item" [class.completed]="todo.completed">
      <input 
        type="checkbox" 
        [checked]="todo.completed" 
        (change)="toggleTodo(todo)">
      <span class="todo-text">{{ todo.text }}</span>
      <button (click)="deleteTodo(todo.id)" class="delete-btn">Delete</button>
    </li>
  </ul> -->
</div>